<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/plugins/system/nnframework/fields">
	<fieldset name="default" label="AMM_DEFAULT_SETTINGS">
		<field name="@loadlanguage" type="nn_loadlanguage" extension="com_modules" />
		<field name="list_title" type="radio" default="0" label="AMM_LIST_TITLE" description="AMM_LIST_TITLE_DESC">
			<option value="0">AMM_ADVANCED_MODULES_MANAGER</option>
			<option value="1">COM_MODULES_MANAGER_MODULES</option>
		</field>
		<field name="open_in_modals" type="radio" default="1" label="AMM_EDIT_MODULES_IN_MODALS" description="AMM_EDIT_MODULES_IN_MODALS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_color" type="radio" default="1" label="AMM_SHOW_COLOR" description="AMM_SHOW_COLOR_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@toggler_default_a" type="nn_toggler" param="show_color" value="1" />
		<field name="main_colors" type="textarea" cols="40" default="FF0000,FF8000,FFFF00,80FF00,00FF00,00FF80,00FFFF,0080FF,0000FF,8000FF,FF00FF,FF0080,000000,666666,999999,CCCCCC,FFFFFF" label="AMM_MAIN_COLORS" description="AMM_MAIN_COLORS_DESC" />
		<field name="@toggler_default_b" type="nn_toggler" />
		<field name="show_hideempty" type="radio" default="1" label="AMM_SHOW_HIDE_IF_EMPTY" description="AMM_SHOW_HIDE_IF_EMPTY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_note" type="radio" default="2" label="AMM_SHOW_NOTE" description="AMM_SHOW_NOTE_DESC">
			<option value="0">JNO</option>
			<option value="1">NN_TOOLTIP</option>
			<option value="2">AMM_NAME_COLUMN</option>
			<option value="3">AMM_EXTRA_COLUMN</option>
		</field>
		<field name="show_configmsg" type="radio" default="1" label="AMM_SHOW_CONFIG_MESSAGE" description="AMM_SHOW_CONFIG_MESSAGE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_config_in_item" type="radio" default="1" label="AMM_SHOW_CONFIG_IN_ITEM" description="AMM_SHOW_CONFIG_IN_ITEM_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="use_sef" type="radio" default="2" label="NN_USE_SEF" description="NN_USE_SEF_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">NN_USE_DEFAULT</option>
		</field>
		<field name="@notice_show_extra" type="nn_plaintext" label="AMM_SHOW_EXTRA_FIELDS" description="AMM_SHOW_EXTRA_FIELDS_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" />
	</fieldset>

	<fieldset name="extra" label="AMM_EXTRA_SETTINGS">
		<field name="@assignments_a" type="nn_block" start="1" label="AMM_SHOW_EXTRA_PUBLISHING_OPTIONS" />
		<field name="show_mirror_module" type="radio" default="1" label="AMM_MIRROR_MODULE" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_match_method" type="radio" default="1" label="NN_MATCHING_METHOD" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@toggler_assignments_match_a" type="nn_toggler" param="show_match_method" value="1" />
		<field name="match_method" type="radio" default="and" label="JDEFAULT" description="AMM_SELECT_DEFAULT_OPTION">
			<option value="and">NN_AND</option>
			<option value="or">NN_OR</option>
		</field>
		<field name="@toggler_assignments_match_b" type="nn_toggler" />
		<field name="show_show_ignores" type="radio" default="1" label="NN_IGNORES" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@toggler_assignments_ignores_a" type="nn_toggler" param="show_show_ignores" value="1" />
		<field name="show_ignores" type="radio" default="1" label="JDEFAULT" description="NN_IGNORES_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="@toggler_assignments_ignores_b" type="nn_toggler" />
		<field name="show_assignto_homepage" type="radio" default="1" label="NN_HOME_PAGE" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_content" type="radio" default="1" label="NN_JCONTENT" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<!--field name="@notice_show_assignto_fc" type="nn_plaintext" label="NN_FLEXICONTENT" description="NN_FLEXICONTENT_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" /-->
		<field name="@notice_show_assignto_k2" type="nn_plaintext" label="NN_K2" description="NN_K2_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" />
		<!--field name="@notice_show_assignto_mr" type="nn_plaintext" label="NN_MIGHTY_RESOURCE" description="NN_MIGHTY_RESOURCE_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" /-->
		<field name="@notice_show_assignto_zoo" type="nn_plaintext" label="NN_ZOO" description="NN_ZOO_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" />
		<field name="show_assignto_components" type="radio" default="1" label="NN_COMPONENTS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_urls" type="radio" default="1" label="NN_URL" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_browsers" type="radio" default="1" label="NN_BROWSERS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_date" type="radio" default="1" label="NN_DATE_TIME" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_usergrouplevels" type="radio" default="1" label="NN_USER_GROUP_LEVELS" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@notice_show_assignto_users" type="nn_plaintext" label="NN_USERS" description="NN_USERS_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" />
		<field name="show_assignto_languages" type="radio" default="1" label="NN_LANGUAGES" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_assignto_templates" type="radio" default="1" label="NN_TEMPLATES" description="AMM_SHOW_PUBLISHING_OPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="@notice_show_assignto_php" type="nn_plaintext" label="NN_PHP" description="NN_PHP_DESC" default="NN_ONLY_AVAILABLE_IN_PRO" />
		<field name="@assignments_b" type="nn_block" end="1" />
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" filter="rules" validate="rules" component="com_advancedmodules" section="component" label="JCONFIG_PERMISSIONS_LABEL">
			<action name="core.admin" title="JACTION_ADMIN" description="JACTION_ADMIN_COMPONENT_DESC" />
			<action name="core.manage" title="JACTION_MANAGE" description="JACTION_MANAGE_COMPONENT_DESC" />
			<action name="core.create" title="JACTION_CREATE" description="JACTION_CREATE_COMPONENT_DESC" />
			<action name="core.delete" title="JACTION_DELETE" description="JACTION_DELETE_COMPONENT_DESC" />
			<action name="core.edit" title="JACTION_EDIT" description="JACTION_EDIT_COMPONENT_DESC" />
			<action name="core.edit.state" title="JACTION_EDITSTATE" description="JACTION_EDITSTATE_COMPONENT_DESC" />
		</field>
	</fieldset>
</config>